<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WEBooksDistribuidorAp.Properties.Settings.WEBooksDistribuidorConnectionString"
            connectionString="Data Source=CASEIRO;Initial Catalog=WEBooksDistribuidor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>